<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.0" targetFramework="net45" />
  <package id="Moq" version="4.15.2" targetFramework="net45" />
  <package id="StatLight" version="1.6.4375" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net45" />
  <package id="xunit" version="1.9.0.1566" />
  <package id="xunit.extensions" version="1.9.0.1566" />
  <package id="xunit.runners" version="1.9.0.1566" />
</packages>